# First print your name in the cell below then save this file. (or something nice about your instructor)

In [57]:
# In this cell print your name 
print('Georgios is very knowledgable and accomplished')

Georgios is very knowledgable and accomplished

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [58]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [59]:
# Load data here
df = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [60]:
# 1. How many listings are there with a price less than 100? 
select_condition = df['price'] < 100
df[select_condition].value_counts()

id        name                                                host_id    host_name                          neighbourhood_group  neighbourhood       latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
3831      Whole flr w/private bdrm, bath & kitchen(pls read)  4869       LisaRoxanne                        Brooklyn             Clinton Hill        40.68514  -73.95976  Entire home/apt  75     1               340                2020-08-01   4.75               1                               265                 1
29460026  Beautiful Room with 2 Beds Near Metro.              105386434  Felix Lion                         Brooklyn             Bedford-Stuyvesant  40.69379  -73.94384  Private room     35     20              38                 2020-02-18   1.73               6                               365                 1
29480209  Budget room in coop house for med/long term guests  344035     Len + The Brooklyn&Breakfast Team  Brooklyn             Prospect Heights    40.67929  -73.97097  Private room     29     10              65                 2020-07-19   2.95               10                              52                  1
29478604  Solo Room w/ friendly ambience, 15mins to Midtown   137358866  Kaz                                Queens               Sunnyside           40.73660  -73.92358  Private room     37     28              5                  2020-07-24   0.27               138                             51                  1
29467179  Clean nice apt with the special host in Riverdale   120733054  Sergio                             Bronx                Kingsbridge         40.88259  -73.90588  Private room     60     1               1                  2018-10-28   0.05               1                               365                 1
                                                                                                                                                                                                                                                                                                                        ..
15406357  Gorgeous Sunlit Modern Room on the Lower East Side  897121     Lori                               Manhattan            Lower East Side     40.71794  -73.99188  Private room     85     1               167                2020-03-08   3.72               1                               0                   1
15420038  Wonderful private bedroom in East Williamsburg      98816024   Elisa                              Brooklyn             Williamsburg        40.71110  -73.94352  Private room     80     1               42                 2020-02-29   0.90               1                               0                   1
15421279  comfortable private room in Hamilton Heights        21600813   Sajad                              Manhattan            Harlem              40.82991  -73.94848  Private room     40     2               28                 2018-08-26   0.60               1                               0                   1
15422083  Comfy Room n Activist & Artist Loft                 5053976    Una                                Brooklyn             Bedford-Stuyvesant  40.68989  -73.95878  Private room     38     7               16                 2019-09-02   0.34               4                               363                 1
44662157  Flushing Sunshine home #102                         361579037  Daniel                             Queens               Flushing            40.74441  -73.82829  Private room     55     1               3                  2020-08-16   3.00               2                               365                 1
Name: count, Length: 17819, dtype: int64

In [61]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = df['neighbourhood_group']
select_condition = df_bk == 'Brooklyn'
df[select_condition].value_counts()

id        name                                                host_id    host_name    neighbourhood_group  neighbourhood  latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
3831      Whole flr w/private bdrm, bath & kitchen(pls read)  4869       LisaRoxanne  Brooklyn             Clinton Hill   40.68514  -73.95976  Entire home/apt  75     1               340                2020-08-01   4.75               1                               265                 1
27527478  Great two Bedroom Apartment - 20 mins from NYC.     55184486   Amado        Brooklyn             Bushwick       40.68812  -73.91436  Entire home/apt  120    2               74                 2019-12-15   3.12               2                               178                 1
27491585  Private Room in Brooklyn Home                       193502084  Linda        Brooklyn             Borough Park   40.64003  -74.00315  Private room     45     1               8                  2019-04-01   0.33               8                               0                   1
27492948  Sleek, modern apartment in trendy Bushwick          207216690  Elisa        Brooklyn             Bushwick       40.70098  -73.92135  Private room     75     1               39                 2019-10-06   1.59               1                               0                   1
27504290  Bright & modern one bed in heart of Williamsburg!   33467956   Risa         Brooklyn             Williamsburg   40.71786  -73.95434  Entire home/apt  121    1               23                 2020-02-09   0.93               1                               3                   1
                                                                                                                                                                                                                                                                                             ..
13375642  Huge sunny bedroom with private bathroom            1949282    Kyla         Brooklyn             Bushwick       40.69407  -73.91124  Private room     65     3               50                 2020-01-20   1.30               4                               0                   1
13376891  Super Vibey Hang                                    16836964   Brendan      Brooklyn             Fort Greene    40.68877  -73.97795  Entire home/apt  120    2               1                  2016-06-18   0.02               1                               0                   1
13377443  Big, airy room in beautiful apartment               76004481   Sylvia       Brooklyn             Flatbush       40.65251  -73.96325  Private room     60     4               1                  2017-07-03   0.03               1                               0                   1
13377893  Spacious Room in Bushwick                           74339725   Giselle      Brooklyn             Bushwick       40.69539  -73.92850  Private room     55     3               8                  2019-10-01   0.16               1                               0                   1
44633340  C.C - Brklyn Small but cozy room close to Subways   361101225  Roger        Brooklyn             Bushwick       40.68650  -73.90841  Private room     46     1               1                  2020-08-10   1.00               4                               364                 1
Name: count, Length: 14858, dtype: int64

In [62]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
condition_1 = df.neighbourhood_group == "Brooklyn"
condition_2 = df.price < 100
bk_high = df[condition_1 & condition_2]
bk_high.value_counts()

id        name                                                host_id    host_name         neighbourhood_group  neighbourhood              latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
3831      Whole flr w/private bdrm, bath & kitchen(pls read)  4869       LisaRoxanne       Brooklyn             Clinton Hill               40.68514  -73.95976  Entire home/apt  75     1               340                2020-08-01   4.75               1                               265                 1
28438882  The Artist's House & Roof Garden (part 3!)          18007776   Tyler             Brooklyn             Prospect-Lefferts Gardens  40.65690  -73.95728  Private room     43     25              8                  2020-04-01   0.39               4                               0                   1
28217921  Heights IV                                          9130040    Candace           Brooklyn             East Flatbush              40.66240  -73.93290  Private room     99     1               6                  2020-01-01   0.39               9                               365                 1
28214275  Quiet Room in Beautiful Historic Bed Stuy           1337630    Bobbi             Brooklyn             Bedford-Stuyvesant         40.68673  -73.92480  Private room     75     3               1                  2018-09-25   0.04               1                               0                   1
28207627  Morning Glory                                       72318418   Francisca         Brooklyn             Crown Heights              40.66957  -73.92179  Private room     69     2               32                 2020-03-13   1.35               3                               228                 1
                                                                                                                                                                                                                                                                                                              ..
14378948  Small Room, big bed, close to train brooklyn        2373229    Antonio           Brooklyn             Bedford-Stuyvesant         40.69981  -73.94111  Private room     35     1               70                 2019-11-22   1.43               3                               89                  1
14378713  3 Brooklyn Rooms, Queen beds; close to train        2373229    Antonio           Brooklyn             Bushwick                   40.70019  -73.94098  Entire home/apt  24     1               115                2020-03-15   2.35               3                               0                   1
14371877  Spacious 1 bedroom in beautiful loft apartment      9725785    J.D. & Stephanie  Brooklyn             Williamsburg               40.71030  -73.96833  Private room     80     1               74                 2020-03-13   1.52               2                               134                 1
14366054  Beautiful, large bedroom                            5120169    Jason             Brooklyn             Bedford-Stuyvesant         40.68172  -73.95118  Private room     85     2               8                  2017-11-12   0.17               2                               0                   1
44633340  C.C - Brklyn Small but cozy room close to Subways   361101225  Roger             Brooklyn             Bushwick                   40.68650  -73.90841  Private room     46     1               1                  2020-08-10   1.00               4                               364                 1
Name: count, Length: 8234, dtype: int64

In [63]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
host_names = ['Michael', 'David', 'John', 'Daniel']
condition = df.host_name.isin(host_names)
df[condition]['host_name'].value_counts()

host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [64]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

select_condition = df["neighbourhood"] == "Williamsburg"
df['adjusted_price'] = df['price'] 
df.loc[select_condition, 'adjusted_price'] += 100 
df[['neighbourhood', 'price', 'adjusted_price']].head(20)

         neighbourhood  price  adjusted_price
0              Midtown    175             175
1         Clinton Hill     75              75
2   Bedford-Stuyvesant     60              60
3          Sunset Park    175             175
4       Hell's Kitchen     65              65
5      Upper West Side     75              75
6            Chinatown    140             140
7         West Village    160             160
8          South Slope     88              88
9      Upper West Side     85              85
10        West Village     65              65
11        Williamsburg    109             209
12         East Harlem    239             239
13         Fort Greene    182             182
14         East Harlem     96              96
15        Williamsburg    299             399
16  Bedford-Stuyvesant    120             120
17     Windsor Terrace    135             135
18              Inwood     86              86
19        East Village    220             220

In [65]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
total_rooms = len(df)
private_room_count = (df['room_type'] == 'Private room').sum()
percent_private = (private_room_count / total_rooms) * 100
shared_room_count = (df['room_type'] == 'Shared room').sum()
percent_shared = (shared_room_count / total_rooms) * 100

print(f"Percentage of private rooms: {percent_private:.2f}%")
print(f"Percentage of shared rooms: {percent_shared:.2f}%")

Percentage of private rooms: 45.44%
Percentage of shared rooms: 2.12%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [66]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
group_by_neighbourhood_group =df.groupby('neighbourhood_group').size()
print(group_by_neighbourhood_group)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [67]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group')
gb['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [68]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb = df.groupby('room_type')
gb['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [69]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group')
gb['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [70]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
gb = df.groupby(['neighbourhood_group', 'room_type'])
gb['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [71]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
gb = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])
print(gb)

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [75]:
# 1. Load the `prices.csv` and the `n_listings.csv`
dfprices = pd.read_csv('data/prices.csv')
dfprices
dflistings = pd.read_csv('data/n_listings.csv', sep=';')
dflistings

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [76]:
# 2. Do join that keeps all the records for each table.
new_df = pd.merge(dfprices, dflistings, on='neighbourhood_group')
new_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

In [77]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = 'my-data-file.csv'
new_df.to_csv(save_as, index=False)

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# My file does look the same as the graph shown in 2. It has the same rows and columns.

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

PandasAI allows users to link PandasAI with an OpenAI API key so users can ask prompts about data for data analysis. Unfortunately for the life of me, I cannot get PandasAI to work for me. It's driving me CRAZY, so I definitely want to tackle this some other time, as I eventually want to specialize in AI/ML for data science. It definitely has to be an issue with how my Macbook is configured, as I tend to get weird errors on my system.

In [15]:
import os
import pandas as pd
from pandasai import Agent, SmartDataframe

# Sample DataFrame
sales_by_country = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "sales": [5000, 3200, 2900, 4100, 2300, 2100, 2500, 2600, 4500, 7000]
})

# Set the OpenAI API key
os.environ["PANDASAI_API_KEY"] = "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"


# Use PandasAI directly instead of Agent
agent = SmartDataframe(sales_by_country)
agent.chat('Which are the top 5 countries by sales?')
## Output
# China, United States, Japan, Germany, Australia

"Unfortunately, I was not able to get your answers, because of the following error:\n\n'NoneType' object has no attribute 'type'\n"

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.